apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: epop-backend-servicemonitor
  namespace: monitoring
  labels:
    release: prometheus
spec:
  namespaceSelector:
    matchNames:
      - staging
  selector:
    matchLabels:
      app: epop-backend-api
  endpoints:
    - port: http
      path: /metrics
      interval: 15s
      scrapeTimeout: 10s
